$sheet-width: 800px;
$bg: white;
$faded: #dddddd;
$faded-light: #eeeeee;
$faded-dark: #bbbbbb;
$radius: 10px;
$gutter: 5px;
$bubble-size: 10px;
$small-box-width: 30px;
$large-box-width: 70px;

$phone: "only screen and (max-width : 480px)";

$str-color: #9f92a2;
$dex-color: #3f9f6e;
$con-color: #b74846;
$int-color: #4D99b7;
$wis-color: #c6be62;
$cha-color: #d77097;

* {
  box-sizing: border-box;
  font-family: 'Open Sans', serif;
  font-size: 12px;
}

.hide {
  display: none !important;
  visibility: hidden;
}

.separator {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid black;
  margin: 5px 0;
}

.button {
  padding: 3px;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;

  &.green {
    background-color: $dex-color;
  }
}

.bold {
  font-weight: bold;
}

.strength {
  background-color: $str-color;
}

.dexterity {
  background-color: $dex-color;
  color: white;
}

.constitution {
  background-color: $con-color;
}

.intelligence {
  background-color: $int-color;
}

.wisdom {
  background-color: $wis-color;
}

.charisma {
  background-color: $cha-color;
}

.blue {
  background-color: rgba(0, 0, 0, 0.1);
}

body {
  background-color: rgba(222, 216, 201, 0.45);
}

textarea {
  font-size: 12px;
  text-align: left;
  width: calc(100% - #{$radius * 2} - 2px);
  border-radius: $radius;
  padding: $radius;
  resize: none;
  height: 15em;
}

input {
  text-align: center;
  background: transparent;
}

input[type="checkbox"] {
  cursor: pointer;
  appearance: none;
  width: $bubble-size;
  height: $bubble-size;
  border: 1px solid black;
  border-radius: $bubble-size;
  order: 1;
  &:checked {
    background-color: black;

    &.green {
      background-color: green;
    }

    &.red {
      background-color: red;
    }
  }
}

section {
  display: flex;
}

@media #{$phone} {
  input[type="checkbox"] {
    height: 25px;
    width: 25px;
    border-radius: 30px;
  }

  input[type="text"] {
    height: 25px;
    line-height: 25px;
  }

  .button {
    padding: 10px 20px;
  }
}

form.charsheet {
  margin-top: 10px;
  div.textblock {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    align-items: center;
    label {
      text-align: center;
      border: 1px solid black;
      border-top: 0;
      font-size: 10px;
      width: calc(100% - #{$radius * 2} - 2px);
      border-radius: 0 0 $radius $radius;
      padding: 4px 0;
      font-weight: bold;
    }
    textarea {
      border: 1px solid black;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style-image: none;
      display: block;
    }
  }
  ::placeholder {
    color: $faded-dark;
  }
  label {
    text-transform: uppercase;
    font-size: 12px;
  }
  header {
    display: flex;
    align-content: stretch;
    align-items: stretch;
    width: $sheet-width;
    margin: 0 auto;
    section.charname {
      border: 1px solid black;
      border-right: 0;
      border-radius: $radius 0 0 $radius;
      padding: 5px 0;
      background-color: $faded-light;
      width: 30%;
      display: flex;
      flex-direction: column-reverse;
      bottom: 0;
      top: 0;
      margin: auto;
      input {
        padding: 0.5em;
        margin: 5px;
        border: 0;
      }
      label {
        padding-left: 1em;
      }
    }
    section.misc {
      width: 70%;
      border: 1px solid black;
      border-radius: $radius;
      padding-left: 1em;
      padding-right: 1em;
      ul {
        padding: 10px 0px 5px 0px;
        display: flex;
        flex-wrap: wrap;
        li {
          width: 33.33333%;
          display: flex;
          flex-direction: column-reverse;
          label {
            margin-bottom: 5px;
          }
          input {
            border: 0;
            border-bottom: 1px solid $faded;
          }
        }
      }
    }
    section.options {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 20%;

      > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        > div {
          margin: 3px;
        }
      }
    }
  }
  main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: $gutter * 2;
    > section {
      flex-basis: 100%;
      display: flex;
      flex-direction: row;

      > section {
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 3px;

        &.col-1-3 {
          flex-basis: 50%;
        }

        &.proficiency .label-container {
          width: 85px;
        }

        div.box {
          display: flex;
          flex-direction: row;
          align-items: center;

          div.holder {
            width: 29px;
            height: 29px;

            input {
              width: 25px;
              height: 25px;
            }
          }

          &.proficiencybonus {
            div.holder {
              transform: rotate(45deg);
              border: 1px solid black;
              margin-left: 5px;
              background-color: rgba(191, 229, 223, 0.25);

              input {
                width: 25px;
                height: 25px;
                transform: rotate(-45deg);
                border: none;
                background: transparent;
              }
            }
          }

          &.inspiration {
            input {
              width: 25px;
              height: 25px;
              border-radius: 16px;
            }
          }

          &.heropoints {
            input {
              width: 20px;
              border: 1px solid black;
            }
          }
        }

        div.label-container {
          margin-left: 10px;

          label {
            max-width: 85px;
            display: block;
            text-align: center;
          }
        }

        &.armorclass, &.initiative, &.speed, &.deathsave {
          flex-direction: row;
          justify-content: center;

          &.deathsave {
            flex-direction: column;

            > div {
              display: flex;
              flex-direction: row;

              > div {
                display: flex;
                flex-direction: column;
              }
            }
          }

          .main {
            display: flex;

            .box {
              flex-direction: column;
              box-sizing: border-box;
              margin-top: 0;

              .label-container {
                margin: 0;

                label {
                  text-align: center;
                  
                  &.breakword {
                    max-width: 50px;
                  }
                }
              }

              .holder {
                height: 50px;

                input {
                  height: 50px;
                  box-sizing: border-box;
                  border: 1px solid black;
                }
              }
            }
          }

          .additional {
            .label-container {
              margin-right: 5px;
            }

            input {
              border: 0;
              border-bottom: 1px solid black;
            }
          }
        }

        &.deathsave {
          > div {
            display: flex;
            flex-direction: column;
          }
        }

        &.hitpoints {
          border-radius: 4px;
          border: 4px solid #b34c4c;
          background-color: #d49b92;
          flex-direction: column;

          div {
            margin: 5px;
          }

          input {
            background-color: transparent;
            border: 0;
            border-bottom: 1px solid black;
            width: 70px;
          }

          .main {
            display: flex;
            flex-direction: row;

            .total {
              input {
                border: 4px solid #b34c4c;
                border-radius: 35px;
                width: 45px;
                height: 45px;
                font-size: 25px;
              }
            }

            .current {
              display: flex;

              input {
                font-size: 25px;
              }
            }
          }

          .temporal {
            div {
              display: flex;
            }
          }
        }

        &.hitdice {
          flex-direction: column;
          text-align: center;
          justify-content: center;

          input {
            border: 0;
            border-bottom: 1px solid black;
            width: 70px;
          }
        }

        > section {
          &.attributes {
            flex-direction: column;
            width: 100%;
  
            > div {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;
              margin: 20px 0;
  
              .hex {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40%;
  
                > div {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: center;
  
                  .score {
                    margin-top: 15px;
                    width: 52px;
                    height: 30px;
                    position: relative;
                    display: flex;
                    align-content: center;
  
                    &.strength:before {
                      border-bottom: 15px solid $str-color;
                    }
  
                    &.dexterity:before {
                      border-bottom: 15px solid $dex-color;
                    }
  
                    &.constitution:before {
                      border-bottom: 15px solid $con-color;
                    }
  
                    &.intelligence:before {
                      border-bottom: 15px solid $int-color;
                    }
  
                    &.wisdom:before {
                      border-bottom: 15px solid $wis-color;
                    }
  
                    &.charisma:before {
                      border-bottom: 15px solid $cha-color;
                    }
        
                    &:before {
                      content: " ";
                      width: 0;
                      height: 0;
                      border-left: 26px solid transparent;
                      border-right: 26px solid transparent;
                      position: absolute;
                      top: -15px;
                    }
  
                    &.strength:after {
                      border-top: 15px solid $str-color;
                    }
  
                    &.dexterity:after {
                      border-top: 15px solid $dex-color;
                    }
  
                    &.constitution:after {
                      border-top: 15px solid $con-color;
                    }
  
                    &.intelligence:after {
                      border-top: 15px solid $int-color;
                    }
  
                    &.wisdom:after {
                      border-top: 15px solid $wis-color;
                    }
  
                    &.charisma:after {
                      border-top: 15px solid $cha-color;
                    }
        
                    &:after {
                      content: "";
                      width: 0;
                      position: absolute;
                      bottom: -15px;
                      border-left: 26px solid transparent;
                      border-right: 26px solid transparent;
                    }
        
                    input {
                      width: 100%;
                      padding: 0;
                      border: 0;
                      background: transparent;
                    }
                  }
        
                  .modifier {
                    position: relative;
        
                    .stat {
                      width: 20px;
                      height: 20px;
                      border-radius: 16px;
                      border: 1px solid black;
                      background: white;
                    }
                  }
        
                  .label {
                    padding: 6px 0;
                    font-weight: bold;
                  }
                }
  
              }
  
              .skills {
                width: 60%;

                .row {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
  
                  input[type="text"] {
                    border: 0;
                    border-bottom: 1px solid black;
                    width: 40px;
                    margin: 0 3px;
  
                    &.noprofficency {
                      margin-left: 20px;
                    }
                  }
  
                  input[type="checkbox"] {
                    order: 0;
                  }
  
                  label {
                    text-transform: none;
                  }
                }
              }
            }
          }
  
          &.additional-abilities {
            width: 100%;
            align-items: start;
            flex-direction: column;
  
            .passive-perception, .passive-investigation, .languages, .tools {
              width: 100%;
              border: 1px solid black;
              padding: 4px 10px;
              margin: 5px 0;
              display: flex;
              align-items: center;
              justify-content: space-between;
  
              &.languages, &.tools {
                flex-direction: column;
  
                textarea {
                  width: 95%;
                  height: 65px;
                  border: 1px solid black;
                  margin: 5px;
                  background: transparent;
                }
              }
  
              input {
                margin-left: 5px;
                border-radius: 4px;
                width: 30px;
                border: 0;
              }
            }
          }
  
          &.portrait {
            width: 100%;
            flex-basis: 0;
          }
  
          &.class-resources, &.class-abilities, &.race-abilities, &.feats, &.important-items {
            width: 100%;
            flex-direction: column;

            .title {
              text-align: center;
              font-weight: bold;
            }

            > div:not(.title) {
              border: 1px solid black;
              border-bottom: 0;
              display: flex;
              flex-direction: row;

              &:last-child {
                border-bottom: 1px solid black;
              }

              > input {
                border: 0;
                width: 100%;
                padding: 0;
              }

              .edit {
                cursor: pointer;
                font-size: 17px;
                margin-right: 3px;
              }
            }
  
          }
  
          &.weapons, &.items {
            width: 100%;
            flex-direction: column;
  
            > div {
              width: 100%;
              display: flex;
              justify-content: space-between;
              text-align: center;

              &.title {
                justify-content: center;
                font-weight: bold;
              }

              &.item {
                div, input {
                  width: 20%;
                }

                div:first-child, input:first-child {
                  width: 60%;
                }
              }
              
              div, input {
                width: 33.3333%;
              }
              
              input {
                border: 1px solid black;
              }
            }
          }
  
          &.moneyconditions {
            display: flex;
            flex-direction: row;
            width: 100%;
            flex-basis: 0;
            justify-content: center;
  
            .money, .conditions {
              align-items: normal;
              margin: 3px 8px;
              flex-direction: column;
  
              input {
                width: 100%;
                border: 0;
                border-bottom: 1px solid black;
              }
  
              .title {
                text-align: center;
                font-weight: bold;
              }
  
              .input {
                display: flex;
                justify-content: space-between;
  
                input {
                  width: 60px;
                }
              }
            }
          }

          &.two-columns {
            width: 100%;
            flex-direction: column;

            > div {
              width: 100%;
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              text-align: center;

              > div {
                width: 100%;

                .row {
                  width: 100%;
                  display: flex;
                  flex-direction: row;
                }
              }
            }

            @media #{$phone} {
              > div {
                flex-direction: column;
              }
            }
          }

          &.competencies {
            > div {
              .title {
                width: 100%;
                justify-content: center;
                font-weight: bold;
              }
              > div {
                .row {
                  div:nth-child(even), input:nth-child(even) {
                    width: 30%;
                  }
  
                  div:nth-child(odd), input:nth-child(odd) {
                    width: 70%;
                  }
                }
              }
              
              input {
                border: 1px solid black;
              }
            }
          }

          &.equipment {
            > div {
              .title {
                width: 100%;
                justify-content: center;
                font-weight: bold;
              }
              
              > div {
                &:first-child:not(.title) {
                  border-right: 1px solid black;
                }

                @media #{$phone} {
                  &:first-child:not(.title) {
                    border-right: none;
                  }
                }

                .row {
                  text-align: left;

                  .title {
                    margin-left: 5px;
                    font-weight: normal;
                  }

                  div, input, textarea {
                    width: 100%;
                  }
                }
              }

              input, textarea {
                border-radius: 0px;
                border: none;
                border-bottom: 1px solid black;
              }

              textarea {
                background: transparent;
                height: 40px;
              }
            }
          }

          &.armor {
            width: 100%;
            flex-direction: column;

            .title {
              width: 100%;
              text-align: center;
              font-weight: bold;
            }

            .row {
              display: flex;
              flex-direction: row;

              > div {
                width: 100%;
                border: 1px solid black;
                text-align: center;

                input, textarea {
                  width: 100%;
                  background: transparent;
                  border: none;
                }

                &.armorname {
                  width: 25%;
                }

                &.armorca, &.armortype, &.armordexmod, &.armorstrength, &.armorstealth {
                  width: 16%;
                }

                &.armorothername {
                  width: 30%;
                }

								&.armorotherca {
                  width: 10%;
                }
                
                &.armorotherproperties {
                  width: 60%;
                }

                &.armorresistance, &.armordmgred {
                  width: 50%;

                  textarea {
                    height: 60px;
                  }
                }
              }
            }
          }

          &.potions {
            > div {
              .title {
                width: 100%;
                justify-content: center;
                font-weight: bold;
              }

              > div .row {
                width: 100%;
              }

              input {
                border: 1px solid black;
                width: 100%;
              }
            }
          }

        }

        &.spells {
          > section {
            width: 100%;
          }

          .spells-info {
            flex-direction: row;
            flex-wrap: wrap;

            .title {
              font-weight: bold;
              width: 100%;
              text-align: center;
            }

            > section {
              width: 100%;
              flex-direction: row;

              > section {
                flex-basis: 100%;
                flex-direction: column;
                margin: 0 10px;
                justify-content: space-between;

                &:first-of-type {
                  margin-left: 0;
                }

                &:last-of-type {
                  margin-right: 0;
                }

                > div {
                  margin: 3px 0;
                }

                input {
                  border: none;
                  width: 100%;
                }

                .border {
                  border: 1px solid black;
                }

                .spell-slots {
                  flex-direction: row;
                  justify-content: space-between;

                  > section {
                    flex-direction: column;
                    text-align: center;

                    input {
                      width: 25px;
                      height: 25px;
                      padding: 2px;
                    }
                  }
                }

                .spell-difficulty {
                  text-align: center;

                  input {
                    margin-top: 5px;
                    width: 60px;
                    height: 60px;
                    font-size: 26px;
                    border: 4px solid red;
                    border-radius: 32px;
                  }
                }
              }
            }

            @media #{$phone} {
              > section {
                flex-wrap: wrap;
                
                > section {
                  width: 100%;
                  flex-basis: none;
                  margin: 5px 0;
                }
              }
            }
          }

          .spell-list {
            margin-top: 30px;

            > section {
              width: 100%;
              flex-direction: column;

              > section > div {
                border: 1px solid black;

                input:not([type="checkbox"]) {
                  border: none;
                  width: 100%;
                }

                input[type="checkbox"] {
                  width: 17px;
                  height: 15px;
                  order: unset;
                }

                &.spell-name:not(.cantrip) > label {
                  width: calc(44% - 31px);
                }

                &.spell-details > label {
                  width: calc(44% + 18px);
                }

                > label {
                  display: none;
                  width: 44%;
                  border-right: 1px solid black;
                  text-align: center;
                  height: 100%;
                  align-items: center;
                  justify-content: center;
                }
              }
            
              .edit {
                cursor: pointer;
                font-size: 17px;
                margin-right: 3px;
              }

              .header {
                text-align: center;

                > div {
                  border-top: none;
                }
              }

              .spell-name {
                width: 15%;
              }

              .spell-cast {
                width: 10%;
              }

              .spell-reach {
                width: 10%;
              }

              .spell-duration {
                width: 10%;
              }

              .spell-component {
                width: 12%;
              }

              .spell-type {
                width: 8%;
              }

              .spell-details {
                width: 35%;
              }

              .row > div {
                display: flex;
                align-items: center;
              }

              @media #{$phone} {
                > section {
                  flex-wrap: wrap;
                  justify-content: space-between;

                  > div {
                    width: 100% !important;
                    
                    input[type="checkbox"] {
                      width: 20px;
                    }

                    > label {
                      display: flex;
                    }
                  }
                }

                .header > div:not(.spell-name) {
                  display: none;
                }

                .row {
                  margin: 2px 0;
                }
              }
            }
          }
        }
      }
    }
  }

  @media #{$phone} {
    header {
      flex-direction: column;
      width: calc(100% - 10px);

      section.charname {
        width: 100%;
        border-right: 1px solid black;
        border-radius: 10px;
        margin-bottom: 5px;
      }

      section.misc {
        width: 100%;

        ul li {
          width: 50%;
        }
      }

      section.options {
        width: 100%;
      }
    }

    main {
      > section {
        flex-wrap: wrap;

        &:first-child > section {
          flex-basis: calc(50% - 16px);
          margin: 16px 8px;

          &.hitpoints {
            flex-basis: 100%;
          }
        }

        > section {
          flex-basis: calc(100% - 6px);

          &.col-1-3 {
            flex-basis: 100%;
          }

          > section.attributes > div .skills .row input[type="text"].noprofficency {
            margin-left: 35px;
          }
        }
      }
    }
  }
}

#popup-background {
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;

  #popup-box {
    padding: 20px;
    background: white;
    border-radius: 8px;
    width: 60%;
    height: 60%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    > * {
      margin: 5px 0;
    }

    textarea {
      width: 100%;
      height: calc(100% - 40px - 20px);
      margin: 7px 0;
      border: 1px solid black;
    }

    .title {
      text-align: center;
    }

    .center {
      display: flex;
      justify-content: center;
    }

    .button {
      margin: 0 3px;

      &.close {
        border-color: red;
        color: red;
        font-weight: bold;
      }
    }

    .login, .register {
      flex-direction: column;
      align-items: center;
      margin: 0;

      input {
        width: 100px;
        margin: 5px 0;
        border: 1px solid black;
        border-radius: 4px;
      }
    }

    #characters {
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow-x: hidden;
      overflow-y: auto;

      > div {
        margin: 5px 0;

        > div {
          text-align: center;
          margin: 0 3px;

          &.charname {
            min-width: 100px;
          }

          &.deletechar {
            border: 1px solid red;
            color: red;
            width: 25px;
          }
        }
      }
    }

    @media #{$phone} {
      width: 100%;
      height: 100%;
  
      .login, .register {
        input {
          height: 40px;
          line-height: 40px;
        }
      }
    }
  }
}

#menu {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: white;
  border: 1px solid black;

  #menu-icon {
    padding: 5px;
    cursor: pointer;
  }

  #menu-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .menu-link {
      cursor: pointer;
      padding: 5px;

      &.close {
        color: white;
        background-color: red;
      }
    }
  }

  @media #{$phone} {
    #menu-icon, #menu-content .menu-link {
      padding: 10px 15px;
    }
  }
}